<!doctype html>
<html>

<head>
    <title>Scott Removels</title>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="description" content="Scott Removels">
    <meta name="keywords" content="Scott Removels">
    <meta name="author" content="Mian Roshan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet Library -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/wow.min.js"></script>
    <link rel="stylesheet" href="assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/owl.theme.default.min.css">
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/animate.css">
    <!--Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" type="text/css" href="assets/responsive.css">
    <!--Custom Js -->
    <script src="assets/web.js"></script>
    <script src="assets/validation.js"></script>
  </style>
</head>

<body>
    <div class="body_wrapper o-visible">
        <!-- Header Start -->
        <section class="header_sec">
            <header>
                <div class="top-header clearfix">
                    <div class="contact-social float-left">
                        <ul class="m-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-social float-right">
                        <ul class="m-0">
                            <li>
                                <a href="#"><i class="fa fa-headset"></i></a>
                            </li>
                            <li>
                                <a href="#" class="text-white pr-3">074-7221-2321</a>
                            </li>
                            <li class="left-bar">
                                <a href="#" class="text-white pr-0">0141-390-8967</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light navbar_bg">
                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="scot removels"></a>
                     <button class="navbar-toggler" type="button" onclick="openNav()" data-toggle="collapse"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">House Removels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Furniture Delivery</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="#">Office Removels</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="#">Blog</a>
                            </li>

                            <li class="nav-item members-hover mr-0">
                                <a class="nav-link " href="#">Members</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </section>
        <!-- Header End -->

        <!-- Banner Section Start -->
        <section class="site_c_banner">
            <div class="site_banner  pb-0 my-4" style="background:none;">
                <div class="row m-0">
                    <div class="col-lg-8 col-md-12 pr-lg-4 pl-0 wow slideInLeft pr-0" data-wow-duration="1.5s">
                        <div class="bg-white p-xl-5 p-3 bg_drop">
                        <div class="banner_inner_text p-0">
                       
                              <h3 class="mb-0"><span class="circle_icon"></span>Get an accurate quote in just 3 mins!</h3>

                            <p>Save up to a massive 42% moving through AnyVan</p>
                        </div>
                        <div class="banner_inner_form m-0">
                            <form class="row w-100 m-0">
                                <div class="col-md-4 pr-sm-2 pr-0 pl-0">
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <span><img class="svg" src="assets/images/sofa.svg"></span>Sofas
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span><img class="svg" src="assets/images/bed.svg"></span>Beds & Mattresses
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span><img class="svg" src="assets/images/cloth.svg"></span>Clothing
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pr-sm-2 pl-0 pl-md-2 pr-0">
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span><img class="svg" src="assets/images/locker.svg"></span>Wardrobes
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span><img class="svg" src="assets/images/table.svg"></span>Tables
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span><img class="svg" src="assets/images/chair.svg"></span>Chairs
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
 
                                </div>

                                <div class="col-md-4 pr-sm-2 pr-0 pl-0">
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span><img class="svg" src="assets/images/box.svg"></span>Boxes
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span><img class="svg" src="assets/images/tv.svg"></span>Televisions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-dropdown w-100" type="button" data-toggle="modal" data-target="#add_item_modal">
                                            <span><img class="svg" src="assets/images/more.svg"></span>Add Your Own Item
                                        </button>
                            
                                    </div>
                                </div>
                               

                                <div class="instance_btn w-100 mr-sm-2 mr-0 mt-3">
                                    <a href="furniture_catagory.html" class="price_btn w-100">
                                       Complete My Quote
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4 col-md-12 p-0 ml-auto mt-5 mt-lg-0 ">
                        <div class="tabs_sec cart bg-white item_counter_box">
                            <div class="item_header">
                                <h3>My Item List</h3>
                            </div>
                            <div class="items_counter">
                                <div class="item_catagory">
                                    <div class="item_catagory_inner">
                                        <p>Extra Large Boxes</p>
                                    </div>
                                    <div class="add_counter">
                                        <ul class="" data-item="1" data-id="1">
                                            <li>
                                                <button class="fa fa-minus item_catagory_minus"></button>
                                            </li>
                                            <li>
                                                <input class="item_catagory_value" type="text" value="1" data-item="1">
                                            </li>
                                            <li>
                                                <button class="fa fa-plus item_catagory_plus"></button>
                                            </li>
                                            <li><button class="fa fa-pen" data-toggle="modal" data-target="#add_item_modal"></button></li>
                                        </ul>
                                    </div>
                                </div>
                           </div>
                           <div class="items_counter">
                            <div class="item_catagory">
                                <div class="item_catagory_inner">
                                    <p>Large Boxes</p>
                                </div>
                                <div class="add_counter">
                                    <ul class="" data-item="1" data-id="2">
                                        <li>
                                            <button class="fa fa-minus item_catagory_minus"></button>
                                        </li>
                                        <li>
                                            <input class="item_catagory_value" type="text" value="1" data-item="2">
                                        </li>
                                        <li>
                                            <button class="fa fa-plus item_catagory_plus"></button>
                                        </li>
                                        <li><button class="fa fa-pen" data-toggle="modal" data-target="#add_item_modal"></button></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                       <div class="items_counter">
                        <div class="item_catagory">
                            <div class="item_catagory_inner">
                                <p>Medium Boxes</p>
                            </div>
                            <div class="add_counter">
                                <ul class="" data-item="1" data-id="3">
                                    <li>
                                        <button class="fa fa-minus item_catagory_minus"></button>
                                    </li>
                                    <li>
                                        <input class="item_catagory_value" type="text" value="1" data-item="3">
                                    </li>
                                    <li>
                                        <button class="fa fa-plus item_catagory_plus"></button>
                                    </li>
                                    <li><button class="fa fa-pen" data-toggle="modal" data-target="#add_item_modal"></button></li>
                                </ul>
                            </div>
                        </div>
                   </div>
                   <div class="items_counter">
                    <div class="item_catagory">
                        <div class="item_catagory_inner">
                            <p>Small Boxes</p>
                        </div>
                        <div class="add_counter">
                            <ul class="" data-item="1" data-id="4">
                                <li>
                                    <button class="fa fa-minus item_catagory_minus"></button>
                                </li>
                                <li>
                                    <input class="item_catagory_value" type="text" value="1" data-item="4">
                                </li>
                                <li>
                                    <button class="fa fa-plus item_catagory_plus"></button>
                                </li>
                                <li><button class="fa fa-pen" data-toggle="modal" data-target="#add_item_modal"></button></li>
                            </ul>
                        </div>
                    </div>
               </div>
             </div>
        </div>

     </div>
            </div>
        </section>

    </div>

  
    <!-- Footer Start -->
    <!-- Modal -->
<div class="modal pr-0 fade" id="add_item_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header border-0"> 
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="w-100 ">
                <div class="row">
                    <div class="col-sm-3">
                        <h5>
                        Item Name
                    </h5>
                    </div>
                    <div class="col-sm-5">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" required/>
                            <span class="floating-label">Name</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" required/>
                            <span class="floating-label">Quantity</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <h5>
                        Estimated Dimensions
                    </h5>    
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-3 col-6">
                                <div class="user-input-wrp">
                                    <input type="text" class="inputText" required/>
                                    <span class="floating-label">Width</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="user-input-wrp">
                                    <input type="text" class="inputText" required/>
                                    <span class="floating-label">Height</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="user-input-wrp">
                                    <input type="text" class="inputText" required/>
                                    <span class="floating-label">Depth</span>
                                </div>
                            </div>
                            <div class="col-sm-3 col-6">
                                <div class="user-input-wrp">
                                    <input type="text" class="inputText" required/>
                                    <span class="floating-label">Cm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <h5>Estimated Weight</h5>
                      <p>If unsure, use your own weight to help you estimate!</p>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" required/>
                            <span class="floating-label">Estimated Weight</span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="user-input-wrp">
                            <input type="text" class="inputText" required/>
                            <span class="floating-label">Cm</span>
                        </div>
                    </div>
               </div>
            </form>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-1" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-2">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->
   <!-- Footer Start -->
</div>
<footer>
    <div class="main_wrapper">
        <div class="row m-0">
            <div class="col-lg-3 col-6 pl-lg-0 pb-4 pb-lg-0">
                <div class="footer_detail">
                    <h5><span></span>About Us</h5>
                    <p class="pr-md-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="social_media">
                    <ul>
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="footer_detail">
                    <h5><span></span>Our Services</h5>
                    <div class="service_links">
                        <ul class="p-0 ">
                            <li><a href="#">Moving House</a></li>
                            <li><a href="#">House Removals</a></li>
                            <li><a href="#">Furniture Delivery</a></li>
                            <li><a href="#">Piano Transport</a></li>
                            <li><a href="#">Man & Van Service</a></li>
                            <li><a href="#">Amazon Delivery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  col-12 ">
                <div class="footer_detail">
                    <h5><span></span>Contact Us</h5>
                    <div class="contact_info">
                        <ul class="p-0 ">
                            <li>
                                <img src="assets/images/mailbox.png"><span>andahdsfsndlvs sflkndlfsd,</span>
                                <br>
                                <span class="child_2">khbcsd asdas 48556</span>
                            </li>
                            <li>
                                <img src="assets/images/headphone.png"><span><a class="num-clr" href="tel:0141-390-8967">0141-390-8967</a></span>
                                <br>
                                <span class="child_2">0141-390-8967</span>
                            </li>
                            <li>
                                <img src="assets/images/paper-plane.png"><span>admin@scotremovals.com</span>
                                <br>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  col-12  pr-sm-0">
                <div class="footer_detail">
                    <h5><span></span>Newsletter Subscribe</h5>
                    <div class="email_input">
                        <p>Subscribe to our mailing list to get the
                            <br>
                            <span class="child_2"> updates to your email inbox.</span>
                            <form>
                                <!-- <div class="user-input-wrp">
                            <input type="email"  class="inputText" placeholder="Your Email Here">
                            <span class="floating-label">Your Email Here"</span>
                        </div> -->
                                <div class="user-input-wrp">

                                    <input type="text" class="inputText" required/>
                                    <span class="floating-label">Your Email Here</span>
                                </div>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_text text-center">
        <p class="mb-0 "> Copyrights Scot Removals 2020 &copy; All Rights Reserved.</p>
    </div>
</footer>
<!-- Footer End -->
  
</body>

</html>