<!doctype html>
<html>

<head>
    <title>Scott Removels</title>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="description" content="Scott Removels">
    <meta name="keywords" content="Scott Removels">
    <meta name="author" content="Mian Roshan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet Library -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/wow.min.js"></script>
    <link rel="stylesheet" href="assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/owl.theme.default.min.css">
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/animate.css">
    <!--Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" type="text/css" href="assets/responsive.css">
    <!--Custom Js -->
    <script src="assets/web.js"></script>
    <script src="assets/validation.js"></script>

</head>

<body>
    <div class="body_wrapper o-visible">
        <!-- Header Start -->
        <section class="header_sec">
            <header>
                <div class="top-header clearfix">
                    <div class="contact-social float-left">
                        <ul class="m-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-social float-right">
                        <ul class="m-0">
                            <li>
                                <a href="#"><i class="fa fa-headset"></i></a>
                            </li>
                            <li>
                                <a class="pr-3 text-white" href="tel:0141-390-8967">0141-390-8967</a>
                            </li>
                            <li class="left-bar">
                                <a href="#" class="text-white pr-0">0141-390-8967</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light navbar_bg">
                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="scot removels"></a>
                    <button class="navbar-toggler" type="button" onclick="openNav()" data-toggle="collapse"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">House Removels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Furniture Delivery</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="#">Office Removels</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="#">Blog</a>
                            </li>

                            <li class="nav-item members-hover mr-0">
                                <a class="nav-link " href="#">Members</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </section>
        <!-- Header End -->

        <!-- Banner Section Start -->
        <section class="site_c_banner">
            <div class="site_banner  pb-0 my-4" style="background:none;">
                <div class="row m-0">
                    <div class="col-lg-8 col-md-12 pr-lg-4 pl-0 wow slideInLeft pr-0" data-wow-duration="1.5s">
                        <div class="bg-white p-xl-5 p-3 bg_drop">
                        <div class="banner_inner_text p-0">
                       
                              <h3 class="mb-0"><span class="circle_icon"></span>Get an accurate quote in just 3 mins!</h3>

                            <p class="mb-3">Save up to a massive 42% moving through AnyVan</p>
                        </div>
                        <div class="banner_inner_form m-0">
                            <form class="row w-100 m-0">
                                <div class="col-md-6 pr-sm-2 pr-0 pl-0">
                                    <input class="form_input w-100" placeholder="Pick Up Location" id="validation_input1">
                                </div>
                                <div class="col-md-6 pr-sm-2 pl-0 pl-md-2 pr-0">
                                    <!-- inner_Dropdown 1 Start -->
                                    <div class="w-100 main_drop_aria dop4" id="open_drop_li_click" >
                                        <div class="form_input drop_btn" id="catagory_inner2">
                                            <span class="btn_selected_text">Ground Floor</span>
                                            <span class="fa fa-angle-down float-right mr-3 toggle_icon"></span>
                                        </div>
                                        <div class="dropdown_list">
                                            <div class="dropdown_content catagory_inner2">
                                                <div class="row m-0 text-center content_list_view">
                                                    <div class="col-12 content_col ">
                                                        <h3><span  class="fa fa-home"></span></h3>
                                                        
                                                            <ul class="p-0 mt-3 content_detail_list">
                                                                <li>
                                                                    <span>Basement</span>
                                                                  </li>
                                                                  <li>
                                                                     <span>Ground Floor</span>
                                                                  </li>
                                                                  <li class="open_checkbox1">
                                                                      <span>1st Floor</span>
                                                                  </li>
                                                                  <li class="open_checkbox1">
                                                                      <span>2nd Floor</span>
                                                                  </li>
                                                                  <li class="open_checkbox1">
                                                                    <span>3rd Floor</span>
                                                                </li>
                                                                <li class="open_checkbox1">
                                                                    <span>4th Floor</span>
                                                                </li>
                                                                <li class="open_checkbox1">
                                                                    <span>5th Floor</span>
                                                                </li>
                                                                <li class="open_checkbox1">
                                                                    <span>6th Floor</span>
                                                                </li>
                                                                <li class="open_checkbox1">
                                                                    <span>Above 6th Floor</span>
                                                                </li>
                                                            </ul>
                                                        
                                                    </div>
                                                
                                                 
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- inner_Dropdown1 End -->
                                   <!-- Checkbox inner_dropdown1 start -->
                                   <div id="inner_checkbox1" class="position-relative" style="display:none;">
                                   <label class="container_checkbox">Lift Available
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                  </label>
                                </div>
                                   <!-- Checkbox inner_dropdown1 end -->
 
                                </div>

                                <div class="col-md-6 pr-sm-2 pr-0 pl-0">
                                    <input class="form_input w-100" placeholder="Drop off Location" id="validation_input2">
                                </div>
                               <div class="col-md-6 pr-sm-2 pl-0 pr-0 pl-md-2">
                                     <!-- Inner_Dropdown2 Start -->
                                     <div class="w-100 main_drop_aria dop3" id="open_drop_li_click2">
                                        <div class="form_input drop_btn" id="catagory_inner3">
                                            <span class="btn_selected_text">Ground Floor</span>
                                            <span class="fa fa-angle-down float-right mr-3 toggle_icon"></span>
                                        </div>
                                        <div class="dropdown_list">
                                            <div class="dropdown_content catagory_inner3">
                                                <div class="row m-0 text-center content_list_view">
                                                    <div class="col-12 content_col ">
                                                        <h3><span  class="fa fa-home"></span></h3>
                                                        
                                                        <ul class="p-0 mt-3 content_detail_list">
                                                            <li>
                                                                <span>Basement</span>
                                                              </li>
                                                              <li>
                                                                 <span>Ground Floor</span>
                                                              </li>
                                                              <li class="open_checkbox2">
                                                                  <span>1st Floor</span>
                                                              </li>
                                                              <li class="open_checkbox2">
                                                                  <span>2nd Floor</span>
                                                              </li>
                                                              <li class="open_checkbox2">
                                                                <span>3rd Floor</span>
                                                            </li>
                                                            <li class="open_checkbox2">
                                                                <span>4th Floor</span>
                                                            </li>
                                                            <li class="open_checkbox2">
                                                                <span>5th Floor</span>
                                                            </li>
                                                            <li class="open_checkbox2">
                                                                <span>6th Floor</span>
                                                            </li>
                                                            <li class="open_checkbox2">
                                                                <span>Above 6th Floor</span>
                                                            </li>
                                                        </ul>
                                                        
                                                    </div>
                                  
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- inner_Dropdown2 End -->

                                      <!-- Checkbox inner_dropdown2 start -->
                                   <div id="inner_checkbox2" class="position-relative" style="display:none;">
                                    <label class="container_checkbox">Lift Available
                                     <input type="checkbox" checked="checked">
                                     <span class="checkmark"></span>
                                   </label>
                                 </div>
                                    <!-- Checkbox inner_dropdown2 end -->

                                </div>

                                <div class="instance_btn w-100 mr-sm-2 mr-0">
                                    <button class="price_btn w-100 pt-0 border-0" id="complete_quote2">
                                       Complete My Quote
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4 col-md-12 p-0 ml-auto mt-5 mt-lg-0">
                        <div class="banner_inner_img ">

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4945541.406433895!2d-6.812930082618514!3d52.75357023711754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d0a98a6c1ed5df%3A0xf4e19525332d8ea8!2sEngland%2C%20UK!5e0!3m2!1sen!2s!4v1582885261968!5m2!1sen!2s" width="100%" height="346px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

      <!-- Footer Start -->
    </div>
    <footer>
        <div class="main_wrapper">
            <div class="row m-0">
                <div class="col-lg-3 col-6 pl-lg-0 pb-4 pb-lg-0">
                    <div class="footer_detail">
                        <h5><span></span>About Us</h5>
                        <p class="pr-md-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="social_media">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="footer_detail">
                        <h5><span></span>Our Services</h5>
                        <div class="service_links">
                            <ul class="p-0 ">
                                <li><a href="#">Moving House</a></li>
                                <li><a href="#">House Removals</a></li>
                                <li><a href="#">Furniture Delivery</a></li>
                                <li><a href="#">Piano Transport</a></li>
                                <li><a href="#">Man & Van Service</a></li>
                                <li><a href="#">Amazon Delivery</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  col-12 ">
                    <div class="footer_detail">
                        <h5><span></span>Contact Us</h5>
                        <div class="contact_info">
                            <ul class="p-0 ">
                                <li>
                                    <img src="assets/images/mailbox.png"><span>andahdsfsndlvs sflkndlfsd,</span>
                                    <br>
                                    <span class="child_2">khbcsd asdas 48556</span>
                                </li>
                                <li>
                                    <img src="assets/images/headphone.png"><span>074-7221-2321</span>
                                    <br>
                                    <span class="child_2">0141-390-8967</span>
                                </li>
                                <li>
                                    <img src="assets/images/paper-plane.png"><span>admin@scotremovals.com</span>
                                    <br>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  col-12  pr-sm-0">
                    <div class="footer_detail">
                        <h5><span></span>Newsletter Subscribe</h5>
                        <div class="email_input">
                            <p>Subscribe to our mailing list to get the
                                <br>
                                <span class="child_2"> updates to your email inbox.</span>
                                <form>
                                    <!-- <div class="user-input-wrp">
                                <input type="email"  class="inputText" placeholder="Your Email Here">
                                <span class="floating-label">Your Email Here"</span>
                            </div> -->
                                    <div class="user-input-wrp">

                                        <input type="text" class="inputText" required/>
                                        <span class="floating-label">Your Email Here</span>
                                    </div>

                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_text text-center">
            <p class="mb-0 "> Copyrights Scot Removals 2020 &copy; All Rights Reserved.</p>
        </div>
    </footer>
    <!-- Footer End -->
  
</body>

</html>