<!doctype html>
<html>

<head>
    <title>Scott Removels</title>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="description" content="Scott Removels">
    <meta name="keywords" content="Scott Removels">
    <meta name="author" content="Mian Roshan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet Library -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/jquery.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/wow.min.js"></script>
    <link rel="stylesheet" href="assets/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/owl.theme.default.min.css">
    <script src="assets/owl.carousel.min.js"></script>
    <script src="assets/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="assets/animate.css">
    <!--Custom Stylesheet -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link rel="stylesheet" type="text/css" href="assets/responsive.css">
    <!--Custom Js -->
    <script src="assets/web.js"></script>
    <style>footer .social_media ul li:hover a{
        transform:scale(1.5);
        color: rgb(213, 4, 17);
      }</style>

    <script>
        new WOW().init();
      
    $(document).ready(function(){

        $('a[href^="#"]').click(function() {
      $('html,body').animate({
          scrollTop: $(this.hash).offset().top - 240
      }, 500);
      return false;
      e.preventDefault();
     });
    $(".dropdown_content.select_moving ul li").mouseover(function() {
        var s_attr =$(this).find('button i').attr('class');
        $('.company_van_img i').attr('class' , s_attr); 
         
    });
});

</script>
   
</head>

<body>
    <div class="body_wrapper">
        <!-- Header Start -->
        <section class="header_sec">
            <header>
                <div class="top-header clearfix">
                    <div class="contact-social float-left">
                        <ul class="m-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="contact-social float-right">
                        <ul class="m-0">
                            <li>
                                <a href="#"><i class="fa fa-headset"></i></a>
                            </li>
                            <li>
                                <a href="#" class="text-white pr-3">074-7221-2321</a>
                            </li>
                            <li class="left-bar">
                                <a href="#" class="text-white pr-0">0141-390-8967</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light navbar_bg">
                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="scot removels"></a>
                    <button class="navbar-toggler" type="button" onclick="openNav()" data-toggle="collapse"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">House Removels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Furniture Delivery</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="#">Office Removels</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link " href="#">Blog</a>
                            </li>

                            <li class="nav-item members-hover mr-0">
                                <a class="nav-link " href="#">Members</a>
                            </li>
                        </ul>
                    </div>
                </nav>
               
            </header>
           
        </section>

        <!-- Header End -->

        <!-- Banner Section Start -->
        <section class="banner_main_home">
            <div class="site_banner">
                <div class="row m-0">
                    <div class="col-lg-7 p-0 wow slideInLeft" data-wow-duration="1.5s">
                        <div class="banner_inner_text">
                            <h3>Scot Removals Trusted Reliable 
                         Professionals
                        </h3>
                            <h5>No Job is Too Big or Too Small</h5>
                            <p class="mb-0"><span class="circle_icon"></span>The UK’s favourite delivery, removals and transport marketplace</p>
                        </div>
                        <div class="banner_inner_form home_form">
                            <form class="row w-100 m-0">
                                <div class="col-sm-12 p-0">
                                    <!-- Dropdown Start -->
                                    <div class="w-100 main_drop_aria dop">
                                        <div class="form_input drop_btn" id="select_moving" >
                                            <span class="btn_selected_text">What are you moving?</span>
                                            <span class="fa fa-angle-down float-right mr-3 toggle_icon"></span>
                                        </div>
                                        <div class="dropdown_list">
                                            <div class="dropdown_content select_moving" >
                                                <div class="row m-0">
                                                    <div class="col-12 col-md-6 px-0">
                                                        <ul class="p-0">
                                                            <li>
                                                                <button type="button"> <i class="fa fa-home"></i><span>House Removals</span></button>
                                                            </li>
                                                            <li>
                                                                <button type="button"> <i class="fas fa-building"></i><span>Office Removals</span></button>
                                                            </li>
                                                            <li>
                                                                <button type="button"> <i class="fas fa-couch"></i><span>Furniture Removals</span></button>
                                                            </li>
                                                            <li>
                                                                <button type="button"> <i class="fas fa-music"></i><span class="pt-2">Piano Removals</span></button>
                                                            </li>
                                                            <div class="more_content">
                                                                <h5>More Services</h5>
                                                                <ul class="p-0">
                                                                    <li>
                                                                        <button type="button"> <i class="fas fa-truck-moving"></i><span>Man & Van</span></button>
                                                                    </li>
                                                                    <li>
                                                                        <button type="button"> <i class="fab fa-amazon"></i><span>Amazon Delivery</span></button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </ul>
                                                    </div>

                                                    <div class="col-md-6 col-12 d-none d-lg-block px-0">
                                                        <div class="company_van_img">
                                                            <i class="fa fa-truck-moving"> </i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Dropdown End -->
                                </div>
                                <div class="col-sm-6 pr-sm-2 pr-0 pl-0">
                                    <input class="form_input w-100" placeholder="Pick Up Location"  required>
                                </div>
                                <div class="col-sm-6 pl-sm-2 pl-0 pr-0">
                                    <input class="form_input w-100" placeholder="Drop off Location" required>
                                </div>
                                <div class="instance_btn w-100">
                                    <a href="#" class="price_btn w-100" id="next_page">
                                        Get Instance Prices
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 p-0 d-none d-lg-block">
                        <div class="banner_inner_img ">

                            <img class="duration-time wow slideInRight" data-wow-duration="1.5s" src="assets/images/truk_circle.png">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Banner Section End -->

        <!-- Tell about Moving Section Start-->
        <section class="tell_about_moving " id="tell_about">
            <div class="sec_heading">
                <h3 class="text-center"><span class="circle_icon"></span>Tell us what are you moving?</h3>
            </div>
            <div class="row col-sm-12 col-md-9 col-lg-7  p-0 mx-auto">
                <div class="col-sm-4 m-40">
                    <div class="overly_wrap wow slideInUp" data-wow-duration="1s" wow-data-offset="10">
                        <div class="overly_content">
                            <img class="w-100" src="assets/images/house_removels.png" alt="house_removels">
                            <div class="text_overly">
                                <h3>House</h3>
                                <p>Removals</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-40">
                    <div class="overly_wrap h-100 wow slideInUp" data-wow-duration="1.5s" wow-data-offset="10">
                        <div class="overly_content h-100">
                            <img class="w-100 h-100" src="assets/images/office_removels.png" alt="office_removels">
                            <div class="text_overly">
                                <h3>office</h3>
                                <p>Removals</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-40">
                    <div class="overly_wrap wow slideInUp" data-wow-duration="2s" wow-data-offset="10">
                        <div class="overly_content">
                            <img class="w-100 " src="assets/images/furniture_removels.png" alt="furniture_delivery">
                            <div class="text_overly">
                                <h3>Furniture</h3>
                                <p>Delivery</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 m-40">
                    <div class="overly_wrap wow slideInUp" data-wow-duration="1s">
                        <div class="overly_content">
                            <img class="w-100" src="assets/images/piano.png" alt="piano_transport">
                            <div class="text_overly">
                                <h3>Piano</h3>
                                <p>Transport</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-40">
                    <div class="overly_wrap h-100 wow slideInUp" data-wow-duration="1.5s">
                        <div class="overly_content h-100">
                            <img class="w-100 h-100" src="assets/images/mans&van.png" alt="mans & van">
                            <div class="text_overly">
                                <h3>Man & Van</h3>
                                <p>Service</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-40">
                    <div class="overly_wrap  wow slideInUp" data-wow-duration="2s">
                        <div class="overly_content">
                            <img class="w-100 " src="assets/images/amazon.png" alt="amazon_delivery">
                            <div class="text_overly">
                                <h3>Amazon</h3>
                                <p>Delivery</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!-- Tell about Moving Section End-->
        <!-- Reviews Slider section Start-->
        <section class="reviews_slider_wrapper">
            <div class="sec_heading">
                <h3 class="text-center"><span class="circle_icon"></span>Our excellent reviews and counting on google</h3>
            </div>
            <div class="owl_container">
                <div class="owl-carousel">
                    <div class="owl_item text-center ">
                        <div class="review-card">
                            <div class="user-text">
                                <h3>Megan Easdon</h3>
                                <p>Great price for a Fast Friendly Service</p>
                            </div>
                            <div class="review-stars">
                                <img src="assets/images/stars.png" class="mx-auto" style="width:107px;height:19px;">
                            </div>
                            <div class="review-detail">
                                <p>Great price for a fast friendly service! Office removal was done efficiently & with a smile. Would highly recommend - great work guys!</p>
                            </div>
                        </div>
                    </div>

                    <div class="owl_item text-center  box_shadow">
                        <div class="review-card">
                            <div class="user-text">
                                <h3>Megan Easdon</h3>
                                <p>Great price for a Fast Friendly Service</p>
                            </div>
                            <div class="review-stars">
                                <img src="assets/images/stars.png" class="mx-auto" style="width:107px;height:19px;">
                            </div>
                            <div class="review-detail">
                                <p>Aiaku removals were a great service! They were cheap, reliable and very attentive. They stopped at 3 different locations for us and charged us a reasonable price. The service was quick and efficient! Highly recommend!</p>
                            </div>
                        </div>
                    </div>
                    <div class="owl_item text-center ">
                        <div class="review-card">
                            <div class="user-text">
                                <h3>Megan Easdon</h3>
                                <p>Great price for a Fast Friendly Service</p>
                            </div>
                            <div class="review-stars">
                                <img src="assets/images/stars.png" class="mx-auto" style="width:107px;height:19px;">
                            </div>
                            <div class="review-detail">
                                <p>I would say the best service I've ever had in my life. The Man Muhammad was super fast and especially very kind and polite and in less than one hour we did all the job. I need to say I'm impressed cause I know the most of the people doing this job sometimes...</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Reviews Slider section End-->
        <section class="removal_company reviews_slider_wrapper pt-0">
            <div class="sec_heading">
                <h3 class="text-center"><span class="circle_icon"></span>Why should You Hire a Removal Company?</h3>
            </div>
            <div class="slider_header_detail text-center">
                <p>Using a removal company is the best way to get through a house move smoothly. Saving money is always a priority and many view house removal costs as an unnecessary extra in what is already an expensive time in their lives. Let us put this to you… It is NOT an unnecessary added cost… Removal costs should automatically be factored into the cost of moving house. It’s a must and here, we will tell you why.</p>
            </div>
            <div class="slider_wrap">
                <div id="carousel_main" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel_main" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel_main" data-slide-to="1"></li>
                        <li data-target="#carousel_main" data-slide-to="2"></li>
                        <li data-target="#carousel_main" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="row carousel_row">
                                <div class="col-sm-7">
                                    <h3>Method to the Madness</h3>
                                    <p>At a glance, it may appear that a professional home movers job is to put things in a box and move it from A to B. You think, ‘gee that looks super easy, I can totally do that myself’. You couldn’t be more wrong. So much more goes into a successful home move.

                                    </p>
                                    <p>
                                        loaded with purpose and with logic. Your movers will consider the order in which to load and to empty the van based on which items will be needed first.
                                    </p>
                                    <p>
                                        They will work as a team and get through the process so much more quickly and smoothly than you can. They also have tips and tricks that make transporting your goods even easier. They can tape up cabinets and drawers with your belongings still in so that not everything gets thrown into a box. It’s serious business and best left to the experts.
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <div class="carousel_img">
                                        <img class="d-block w-100" src="assets/images/delivery.png" alt="delivery">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item  ">
                            <div class="row carousel_row">
                                <div class="col-sm-7">
                                    <h3>Method to the Madness</h3>
                                    <p>At a glance, it may appear that a professional home movers job is to put things in a box and move it from A to B. You think, ‘gee that looks super easy, I can totally do that myself’. You couldn’t be more wrong. So much more goes into a successful home move.

                                    </p>
                                    <p>
                                        loaded with purpose and with logic. Your movers will consider the order in which to load and to empty the van based on which items will be needed first.
                                    </p>
                                    <p>
                                        They will work as a team and get through the process so much more quickly and smoothly than you can. They also have tips and tricks that make transporting your goods even easier. They can tape up cabinets and drawers with your belongings still in so that not everything gets thrown into a box. It’s serious business and best left to the experts.
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <div class="carousel_img">
                                        <img class="d-block w-100" src="assets/images/delivery.png" alt="delivery">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item  ">
                            <div class="row carousel_row">
                                <div class="col-sm-7">
                                    <h3>Method to the Madness</h3>
                                    <p>At a glance, it may appear that a professional home movers job is to put things in a box and move it from A to B. You think, ‘gee that looks super easy, I can totally do that myself’. You couldn’t be more wrong. So much more goes into a successful home move.

                                    </p>
                                    <p>
                                        loaded with purpose and with logic. Your movers will consider the order in which to load and to empty the van based on which items will be needed first.
                                    </p>
                                    <p>
                                        They will work as a team and get through the process so much more quickly and smoothly than you can. They also have tips and tricks that make transporting your goods even easier. They can tape up cabinets and drawers with your belongings still in so that not everything gets thrown into a box. It’s serious business and best left to the experts.
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <div class="carousel_img">
                                        <img class="d-block w-100" src="assets/images/delivery.png" alt="delivery">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item  ">
                            <div class="row carousel_row">
                                <div class="col-sm-7">
                                    <h3>Method to the Madness</h3>
                                    <p>At a glance, it may appear that a professional home movers job is to put things in a box and move it from A to B. You think, ‘gee that looks super easy, I can totally do that myself’. You couldn’t be more wrong. So much more goes into a successful home move.

                                    </p>
                                    <p>
                                        loaded with purpose and with logic. Your movers will consider the order in which to load and to empty the van based on which items will be needed first.
                                    </p>
                                    <p>
                                        They will work as a team and get through the process so much more quickly and smoothly than you can. They also have tips and tricks that make transporting your goods even easier. They can tape up cabinets and drawers with your belongings still in so that not everything gets thrown into a box. It’s serious business and best left to the experts.
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <div class="carousel_img">
                                        <img class="d-block w-100" src="assets/images/delivery.png" alt="delivery">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- image gallery section Start -->
        <section class="image_gallery wow slideInUp" data-wow-duration="1s">
            <div class="row m-0">
                <div class="header_carousel text-center w-100">
                    <h3><span class="circle_icon"></span>You would find us doing all sorts of removals </h3>
                </div>
                <div id="myModal" class="modal_gallery  col-sm-8 mx-auto">
                    <div class="modal_content">

                        <div class="mySlides" style="display: block;">
                            <div class="w-100 slide_gallery" style="background:url('assets/images/van_slide.jpg');background-repeat:no-repeat;">

                            </div>
                        </div>

                        <div class="mySlides">

                            <div class="w-100 slide_gallery" style="background:url('assets/images/slide_box.png');background-repeat:no-repeat;">
                            </div>
                        </div>
                        <div class="mySlides">
                            <div class="w-100 slide_gallery" style="background:url('assets/images/delivery_box.png');background-repeat:no-repeat;">
                            </div>
                        </div>
                        <div class="mySlides">

                            <div class="w-100 slide_gallery" style="background:url('assets/images/van_loading.jpg');background-repeat:no-repeat;">
                            </div>

                        </div>
                    </div>
                    <div class="swipe_div position-relative w-100 my-3">
                        <div class="d-flex  gallery_indicator w-100">
                            <div class="column col-6 col-md-4 col-lg-3">
                                <div class="demo cursor " style="width:100%; background:url('assets/images/van.png');background-repeat:no-repeat;" onclick="currentSlide(1)"></div>
                            </div>
                            <div class="column col-6 col-md-4 col-lg-3">
                                <div class="demo cursor " style="width:100%; background:url('assets/images/coverd_box.png');background-repeat:no-repeat;" onclick="currentSlide(2)"></div>
                            </div>
                            <div class="column col-6 col-md-4 col-lg-3">
                                <div class="demo cursor " style="width:100%; background:url('assets/images/small_box.png');background-repeat:no-repeat;" onclick="currentSlide(3)"></div>
                            </div>
                            <div class="column col-6 col-md-4 col-lg-3 ">
                                <div class="demo cursor " style="width:100%; background:url('assets/images/van_load.png');background-repeat:no-repeat;" onclick="currentSlide(4)"></div>
                            </div>
                            <div class="column col-6 col-md-4 col-lg-3 ">
                                <div class="demo cursor " style="width:100%; background:url('assets/images/van_load.png');background-repeat:no-repeat;" onclick="currentSlide(4)"></div>
                            </div>
                            <div class="column col-6 col-md-4 col-lg-3 ">
                                <div class="demo cursor " style="width:100%; background:url('assets/images/van.png');background-repeat:no-repeat;" onclick="currentSlide(1)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- image gallery section End-->

    </div>

    <!-- Footer Start -->
    <footer>
        <div class="main_wrapper">
            <div class="row m-0">
                <div class="col-lg-3 col-6 pl-lg-0 pb-4 pb-lg-0">
                    <div class="footer_detail">
                        <h5><span></span>About Us</h5>
                        <p class="pr-md-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="social_media">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="footer_detail">
                        <h5><span></span>Our Services</h5>
                        <div class="service_links">
                            <ul class="p-0 ">
                                <li><a href="#">Moving House</a></li>
                                <li><a href="#">House Removals</a></li>
                                <li><a href="#">Furniture Delivery</a></li>
                                <li><a href="#">Piano Transport</a></li>
                                <li><a href="#">Man & Van Service</a></li>
                                <li><a href="#">Amazon Delivery</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 ">
                    <div class="footer_detail">
                        <h5><span></span>Contact Us</h5>
                        <div class="contact_info">
                            <ul class="p-0 ">
                                <li>
                                    <img src="assets/images/mailbox.png"><span>andahdsfsndlvs sflkndlfsd,</span>
                                    <br>
                                    <span class="child_2">khbcsd asdas 48556</span>
                                </li>
                                <li>
                                    <img src="assets/images/headphone.png"><span>074-7221-2321</span>
                                    <br>
                                    <span class="child_2">0141-390-8967</span>
                                </li>
                                <li>
                                    <img src="assets/images/paper-plane.png"><span>admin@scotremovals.com</span>
                                    <br>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  col-12  pr-sm-0">
                    <div class="footer_detail">
                        <h5><span></span>Newsletter Subscribe</h5>
                        <div class="email_input">
                            <p>Subscribe to our mailing list to get the
                                <br>
                                <span class="child_2"> updates to your email inbox.</span>
                                <form>
                                    <!-- <div class="user-input-wrp">
                                <input type="email"  class="inputText" placeholder="Your Email Here">
                                <span class="floating-label">Your Email Here"</span>
                            </div> -->
                                    <div class="user-input-wrp">

                                        <input type="text" class="inputText" required/>
                                        <span class="floating-label">Your Email Here</span>
                                    </div>

                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_text text-center">
            <p class="mb-0 "> Copyrights Scot Removals 2020 &copy; All Rights Reserved.</p>
        </div>
    </footer>
    <!-- Footer End -->
       
</body>

</html>